<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- PropertyPlaceholderConfigurer类中有个locations属性，接收的是一个数组，即我们可以在下面配好多个properties文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:properties/mysql.properties</value>
            </array>
        </property>
    </bean>
    <!--配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>
    <!-- 配置Mybatis工厂 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>
    <!-- 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!-- ============以下注册组件============== -->

    <!-- ==基本Bean注册 ==-->
    <bean id="departBean" class="model.Depart"/>
    <!--===DAO层注册===-->
    <bean id="studentDao" class="dao.impl.StudentDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="teacherDao" class="dao.impl.TeacherDao">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="courseDao" class="dao.impl.CourseDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="loginDao" name="loginDao" class="dao.impl.LoginDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="departDao" class="dao.impl.DepartDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="gradeDao" class="dao.impl.GradeDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <!--===service层注册===-->
    <bean id="adminService" class="service.impl.AdminService">
        <property name="courseDAO" ref="courseDao"/>
        <property name="teacherDAO" ref="teacherDao"/>
        <property name="studentDAO" ref="studentDao"/>
        <property name="departDAO" ref="departDao"/>
    </bean>
    <!--学生服务层-->
    <bean id="studentService" class="service.impl.StudentServiceImpl">
        <property name="courseDAO" ref="courseDao"/>
        <property name="gradeDAO" ref="gradeDao"/>
    </bean>
    <!--教师服务层-->
    <bean id="teacherService" class="service.impl.TeacherServiceImpl">
        <property name="courseDAO" ref="courseDao"/>
        <property name="gradeDAO" ref="gradeDao"/>
        <property name="studentDAO" ref="studentDao"/>
    </bean>
    <bean id="loginService" class="service.impl.LoginServiceImpl">
        <property name="loginDao" ref="loginDao"/>
    </bean>
</beans>